@font-face {
    font-family: 'e-Ukraine';
    src: url(../fonts/e-Ukraine-Regular.otf);
}

@font-face {
    font-family: 'e-UkraineHead';
    src: url(../fonts/e-UkraineHead-Regular.otf);
}

@font-face {
    font-family: 'e-Ukraine';
    src: url(../fonts/e-Ukraine-Thin.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'e-UkraineHead';
    src: url(../fonts/e-UkraineHead-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'Cosen';
    src: url(../fonts/Cosen-Medium.otf);
    font-weight: 500;
}

.link {
    text-decoration: none;
    color: unset;
}