.submitBtn {
    height: 52px;
    width: 100%;
    background-color: #1455ff;
    color: rgb(252, 252, 252);
    border: none;
    border-radius: 18px;
    font-family: e-Ukraine;
    cursor: pointer;
    transition: 0.3s;
    font-size: medium;
}

.filled {
    background-color: #5383ff;
}