.submitBtn {
    height: 52px;
    width: 100%;
    color: rgb(252, 252, 252);
    border: none;
    border-radius: 18px;
    font-family: e-Ukraine;
    cursor: pointer;
    transition: 0.3s;
    font-size: medium;
}

.default {
    background-color: #5383ff;
}

.filled-default {
    background-color: #1455ff;
}

.red {
    background-color: #ff8b8b;
}

.filled-red {
    background-color: #ff4b4b;
}