.createWrapper {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 3rem;
    background-color: #a0beff;
    border: 3px white solid;
    border-radius: 10px;
    color: #03014a;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .createWrapper:hover {
    background-color: #8fb2fd;
  }
  
  .leftContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .createTitle {
    font-family: e-UkraineHead;
    font-weight: 500;
    font-size: larger;
  }
  
  .createDescription {
    font-family: e-Ukraine;
    font-weight: 300;
    font-style: italic;
    /* font-size: medium; */
  }
  
  .icon {
    height: 4rem;
  }