.title {
  display: flex;
  text-align: center;
  font-family: "e-UkraineHead";
  font-size: 20px;
}

.description {
  font-family: "e-Ukraine";
  font-weight: 300;
  font-size: small;
  text-align: center;
}

.submitBtn {
  cursor: pointer;
}

.inputsWrapper {
  display: flex;
  gap: 0.4rem;
}

