.wrapper {
  box-sizing: border-box;
  padding: 2rem 3rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

.title {
  display: flex;
  text-align: center;
  font-family: "e-UkraineHead";
  font-size: 20px;
}

.description {
  font-family: "e-Ukraine";
  font-weight: 300;
  font-size: small;
  text-align: center;
}

.submitBtn {
  cursor: pointer;
}

.inputsWrapper {
  display: flex;
  gap: 0.4rem;
}

@media only screen and (max-width: 600px) { 
  .wrapper {
    padding: 2rem 2rem;
  }
}

.fadeEnter {
  transform: translateX(100%);
}

.fadeEnterActive {
  transform: translateX(0%);
}

.fadeExit {
  transform: translateX(0%);
}

.fadeEnterActive,
.fadeExitActive {
  transition: transform 100ms;
} 