.header {
  min-height: 100svh;
  background-color: #0a092d;
  color: white;
  /* overflow: scroll; */
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  border-bottom: 1px rgb(17, 30, 128) solid;
}

.name {
  font-family: "Cosen";
  font-size: xx-large;
  cursor: pointer;
  user-select: none;
}

.bottomContainer {
  padding: 7rem 13% 0rem 15%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  font-family: "e-Ukraine";
  font-size: xx-large;
  font-weight: 300;
}

.headImage {
  height: 400px;
}

.authBottomBtn {
  display: none;
}

@media only screen and (max-width: 600px) {
  .topContainer {
    flex-direction: column;
    gap: 0.3rem;
  }

  .authTopBtn {
    display: none;
  }

  .authBottomBtn {
    display: block;
  }

  .content {
    flex-direction: column-reverse;
    gap: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  .bottomContainer {
    padding: 3rem 2rem 0rem 2rem;
  }
}