.cards {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navigation {
    display: flex;
    gap: 0.5rem;
}

.navButton {
    padding: 0.7rem 0rem;
    background-color: #2e3856;
    color: rgb(179, 179, 210);
    border: none;
    border-radius: 7px;
    font-family: e-Ukraine;
    cursor: pointer;
    flex: 1;
}

.navButton:hover {
    background-color: #3d445b;
}

@media only screen and (max-width: 700px) {
    .topWrapper {
        align-items: center;
    }

    .titleWrapper {
        flex-direction: column;
    }

    .navigation {
        flex-direction: column;
    }
}

.fadeEnter{
    opacity: 0;
 }
 
 .fadeExit{
    opacity: 1;
 }
 
 .fadeEnterActive{
    opacity: 1;
 }
 
 .fadeExitActive{
    opacity: 0;
 }
 
 .fadeEnterActive,
 .fadeExitActive{
    transition: opacity 200ms;
 }