.card {
    position: relative;
    height: 15rem;
    width: auto;
    background-color: #2e3856;
    cursor: pointer;
    border-radius: 10px;
    transform: perspective(1000px) rotateX(var(--rotate-x, 0));
    transform-style: preserve-3d;
    transition: 0.5s;
    font-family: e-UkraineHead;
    font-size: large;
    font-weight: 300;
}

.card.flip {
    --rotate-x: 180deg;
}

.front, .back {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
}

.card.flip .front {
    visibility: hidden;
}

.back {
    transform: rotateX(180deg);
}