.main {
    display: flex;
    flex-direction: column;
    margin: 4rem 10rem;
    color: white;
    gap: 3rem;
}

.aboutWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about {
    font-family: e-Ukraine;
    font-weight: 500;
    font-size: x-large;
}

.free {
    font-family: e-Ukraine;
    font-weight: 300;
    font-size: small;
    color: #ffcd1f;
}

.title {
    background-color: #2e3856;
    padding: 1rem;
    border-radius: 10px;
    width: auto;
}

.title::placeholder {
    color: #bcbcbc;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1.5px;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    background-color: #2e3856;
    border-radius: 10px 10px 0px 0px;
    width: auto;
    padding: 1rem 1.5rem;
}

.text {
    font-family: e-Ukraine;
    font-weight: 500;
    font-size: medium;
    color: white;
}

.bin {
    fill: rgb(255, 255, 255);
}

.bottomContainer {
    display: flex;
    border-radius: 0px 0px 10px 10px;
    width: auto;
    padding: 2rem 1.5rem;
    background-color: #2e3856;
    gap: 3rem;
}

.textEditor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.editorInput {
    background: none;
    width: auto;
    padding-bottom: 5px;
    border-bottom: 3px #e0e0e0 solid;
    font-weight: 300;
}

.editorLabel {
    color: #d0d0d0;
    font-family: e-UkraineHead;
    font-size: small;
    padding-top: 5px;
}