:root {
    --input-color: #2e3856;
}

.main {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2rem;
}

.topWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.setTitle {
    background-color: var(--input-color);
    padding: 1rem;
    border-radius: 10px;
    width: auto;
    border: none;
    outline: none;
}

.setTitle::placeholder {
    color: #bcbcbc;
}

.setTitle:hover {
    --input-color: #323d5b;
}

.text {
    font-family: e-Ukraine;
    font-weight: 500;
    font-size: medium;
    color: white;
}

@media only screen and (max-width: 700px) {
    .topWrapper {
        align-items: center;
    }
}

.submitWrapper {
    display: flex;
    justify-content: flex-end;
}