.main {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2rem;
}

.topWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

@media only screen and (max-width: 700px) {
    .topWrapper {
        align-items: center;
    }
}

.submitWrapper {
    display: flex;
    justify-content: flex-end;
}

/* .inputWrapper {
    flex: 1;
    background-color: #2e3856;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
} */

.typeContentWrapper {
    padding: 10px;
    /* background-color: #1d2d4c; */
    background-color: #2e3856;
    border-radius: 20px;
}

.detailsContainer {
    display: flex;
    gap: 0.8rem;
}

.detail {
    flex: 1;
    background-color: #2e3856;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 2rem;
}

.detail:hover {
    background-color: #323d5b;
}

.description {
    font-family: e-UkraineHead;
    font-size: small;
    text-transform: uppercase;
}