.header {
  background-color: #0a092d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  border-bottom: 1px rgb(17, 30, 128) solid;
}

.name {
  font-family: "Cosen";
  font-size: xx-large;
  cursor: pointer;
  user-select: none;
}

.signOutBtn {
  padding: 0.7rem 0.8rem;
  background-color: #2e3856;
  color: rgb(179, 179, 210);
  border: none;
  border-radius: 7px;
  font-family: e-Ukraine;
  cursor: pointer;
}

.signOutBtn:hover {
  background-color: #3d445b;
}