.main {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2rem;
}

.topWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.title {
    font-family: e-Ukraine;
    font-weight: 500;
    font-size: x-large;
}